[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=vas
WorkingDirectory=/home/vas/sites/SITENAME/source
ExecStart=/home/vas/sites/SITENAME/virtualenv/bin/gunicorn \
--bind unix:/tmp/SITENAME.socket \
slists.wsgi:application

[Install]
WantedBy=multi-user.target